# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ll_env/
new_venv/

# IDE-specific files
.vscode/
*.pyc

# Django-related files
*.db
*.sqlite3
*.log

# Local development settings
local_settings.py

# Media files
media/

# Compiled Python files
*.pyc

# macOS-specific files
.DS_Store
